<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>FileHaven_Integrate1</display-name>
	 <servlet>
    <description></description>
    <display-name>DownloadFileServlet</display-name>
    <servlet-name>DownloadFileServlet</servlet-name>
    <servlet-class>servlets.DownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DownloadFileServlet</servlet-name>
    <url-pattern>/DownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateFileDetailServlet</display-name>
    <servlet-name>UpdateFileDetailServlet</servlet-name>
    <servlet-class>servlets.UpdateFileDetailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateFileDetailServlet</servlet-name>
    <url-pattern>/UpdateFileDetailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadFileServlet</display-name>
    <servlet-name>UploadFileServlet</servlet-name>
    <servlet-class>servlets.UploadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadFileServlet</servlet-name>
    <url-pattern>/UploadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewFileServlet</display-name>
    <servlet-name>ViewFileServlet</servlet-name>
    <servlet-class>servlets.ViewFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewFileServlet</servlet-name>
    <url-pattern>/ViewFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteFileServlet</display-name>
    <servlet-name>DeleteFileServlet</servlet-name>
    <servlet-class>servlets.DeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteFileServlet</servlet-name>
    <url-pattern>/DeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RecoverFileServlet</display-name>
    <servlet-name>RecoverFileServlet</servlet-name>
    <servlet-class>servlets.RecoverFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RecoverFileServlet</servlet-name>
    <url-pattern>/RecoverFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartDownloadFileServlet</display-name>
    <servlet-name>StartDownloadFileServlet</servlet-name>
    <servlet-class>servlets.StartDownloadFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartDownloadFileServlet</servlet-name>
    <url-pattern>/StartDownloadFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartDeleteFileServlet</display-name>
    <servlet-name>StartDeleteFileServlet</servlet-name>
    <servlet-class>servlets.StartDeleteFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartDeleteFileServlet</servlet-name>
    <url-pattern>/StartDeleteFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartUpdateFileServlet</display-name>
    <servlet-name>StartUpdateFileServlet</servlet-name>
    <servlet-class>servlets.StartUpdateFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartUpdateFileServlet</servlet-name>
    <url-pattern>/StartUpdateFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartRecoverFileServlet</display-name>
    <servlet-name>StartRecoverFileServlet</servlet-name>
    <servlet-class>servlets.StartRecoverFileServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartRecoverFileServlet</servlet-name>
    <url-pattern>/StartRecoverFileServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HashCheckServlet</display-name>
    <servlet-name>HashCheckServlet</servlet-name>
    <servlet-class>servlets.HashCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HashCheckServlet</servlet-name>
    <url-pattern>/HashCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>StartHashCheckServlet</display-name>
    <servlet-name>StartHashCheckServlet</servlet-name>
    <servlet-class>servlets.StartHashCheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StartHashCheckServlet</servlet-name>
    <url-pattern>/StartHashCheckServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  
  
    <description></description>
    <display-name>CaptchaServlet</display-name>
    <servlet-name>CaptchaServlet</servlet-name>
    <servlet-class>servlets.CaptchaServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CaptchaServlet</servlet-name>
    <url-pattern>/CaptchaServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>servlets.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateAccountServlet</display-name>
    <servlet-name>CreateAccountServlet</servlet-name>
    <servlet-class>servlets.CreateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateAccountServlet</servlet-name>
    <url-pattern>/CreateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewAccountServlet</display-name>
    <servlet-name>ViewAccountServlet</servlet-name>
    <servlet-class>servlets.ViewAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewAccountServlet</servlet-name>
    <url-pattern>/ViewAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveAccountListServlet</display-name>
    <servlet-name>RetrieveAccountListServlet</servlet-name>
    <servlet-class>servlets.RetrieveAccountListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveAccountListServlet</servlet-name>
    <url-pattern>/RetrieveAccountListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveAccountDetailsServlet</display-name>
    <servlet-name>RetrieveAccountDetailsServlet</servlet-name>
    <servlet-class>servlets.RetrieveAccountDetailsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveAccountDetailsServlet</servlet-name>
    <url-pattern>/RetrieveAccountDetailsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UpdateAccountServlet</display-name>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <servlet-class>servlets.UpdateAccountServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UpdateAccountServlet</servlet-name>
    <url-pattern>/UpdateAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ViewPersonalInfoServlet</display-name>
    <servlet-name>ViewPersonalInfoServlet</servlet-name>
    <servlet-class>servlets.ViewPersonalInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ViewPersonalInfoServlet</servlet-name>
    <url-pattern>/ViewPersonalInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateCompanyServlet</display-name>
    <servlet-name>CreateCompanyServlet</servlet-name>
    <servlet-class>servlets.CreateCompanyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateCompanyServlet</servlet-name>
    <url-pattern>/CreateCompanyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RetrieveCompanyListServlet</display-name>
    <servlet-name>RetrieveCompanyListServlet</servlet-name>
    <servlet-class>servlets.RetrieveCompanyListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RetrieveCompanyListServlet</servlet-name>
    <url-pattern>/RetrieveCompanyListServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ChangePasswordServlet</display-name>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>SendChatMsgServ</servlet-name>
    <servlet-class>servlets.SendChatMsgServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendChatMsgServ</servlet-name>
    <url-pattern>/SendChatMsgServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatMsgServ</display-name>
    <servlet-name>GetChatMsgServ</servlet-name>
    <servlet-class>servlets.GetChatMsgServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatMsgServ</servlet-name>
    <url-pattern>/GetChatMsgServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActiveRoomServ</display-name>
    <servlet-name>ActiveRoomServ</servlet-name>
    <servlet-class>servlets.ActiveRoomServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActiveRoomServ</servlet-name>
    <url-pattern>/ActiveRoomServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatRoomServ</display-name>
    <servlet-name>GetChatRoomServ</servlet-name>
    <servlet-class>servlets.GetChatRoomServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatRoomServ</servlet-name>
    <url-pattern>/GetChatRoomServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CreateRoomServ</display-name>
    <servlet-name>CreateRoomServ</servlet-name>
    <servlet-class>servlets.CreateRoomServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CreateRoomServ</servlet-name>
    <url-pattern>/CreateRoomServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SetInvStatusServ</display-name>
    <servlet-name>SetInvStatusServ</servlet-name>
    <servlet-class>servlets.SetInvStatusServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SetInvStatusServ</servlet-name>
    <url-pattern>/SetInvStatusServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetChatUserServ</display-name>
    <servlet-name>GetChatUserServ</servlet-name>
    <servlet-class>servlets.GetChatUserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetChatUserServ</servlet-name>
    <url-pattern>/GetChatUserServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetInvUserServ</display-name>
    <servlet-name>GetInvUserServ</servlet-name>
    <servlet-class>servlets.GetInvUserServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetInvUserServ</servlet-name>
    <url-pattern>/GetInvUserServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendInvServlet</display-name>
    <servlet-name>SendInvServlet</servlet-name>
    <servlet-class>servlets.SendInvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendInvServlet</servlet-name>
    <url-pattern>/SendInvServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SendInvServ</display-name>
    <servlet-name>SendInvServ</servlet-name>
    <servlet-class>servlets.SendInvServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SendInvServ</servlet-name>
    <url-pattern>/SendInvServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VerifyChatPinServ</display-name>
    <servlet-name>VerifyChatPinServ</servlet-name>
    <servlet-class>servlets.VerifyChatPinServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VerifyChatPinServ</servlet-name>
    <url-pattern>/VerifyChatPinServ</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RegisterChatPinServ</display-name>
    <servlet-name>RegisterChatPinServ</servlet-name>
    <servlet-class>servlets.RegisterChatPinServ</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterChatPinServ</servlet-name>
    <url-pattern>/RegisterChatPinServ</url-pattern>
  </servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
